.row
  .span12
    .hero-unit
      %h1 Hackerspace
      %p
        Clermont-Ferrand, 
        = link_to "Linux Arverne", "http://www.linuxarverne.org/"
      = link_to "Voir nos projets", projects_path, class: "btn btn-primary"
      