.row
  .span12
    .hero-unit
      %h1 Acolab
      %p
        Clermont-Ferrand
      = link_to "Nos projets", projects_path, class: "btn btn-primary"
      = link_to "Le hackerspace", articles_path, class: "btn"
      = link_to "Les ateliers", workshops_path, class: "btn"
      = link_to "Les participants", users_path, class: "btn"
      