/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "twitter/bootstrap"
@import "*.sass"

input[type=text], textarea, .input-block-level
  +input-block-level

#project-toc
  top: 2px
  width: 220px

#image-selector
  left: 10%
  top: 10%
  width: 80%
  height: 80%
  margin: 0
  
  img.selected
    border-color: blue
    
  
.project-content
  img
    @extend .img-polaroid
    margin: auto
    display: block
    
    