= bootstrap_form_for @image, :html => { :class => 'form-horizontal' } do |f|
  = f.file_field :file
  
  .form-actions
    = f.submit t('.submit'), :class => 'btn btn-primary'
    = link_to t('.cancel'), images_path, :class => 'btn'
